doctype html
html
  head
    style
      include style.css
  body
  



  ul
    li 
     a(href = '/') Home 
    li
     a(href = 'contact_page') Contact us
    li
     a(href = 'services_page') Our services

  h1 Welcome to our Home Page

  span.smily  &#128515;